<h1>Hello to the Gadgenie in the Browser</h1>
<p class="notice">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, aut excepturi illum aliquid saepe reiciendis numquam minus repudiandae totam omnis aperiam accusantium sint tempora deleniti nulla cumque molestias? Officiis, debitis.</p>
<p>I'm making yet another change to test sprintly integration. another minor change to demonstrate working.</p>
<p>Version 0.2 - CodeShip should be working.</p>
